<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [1]:
!pip install pandas
!pip install matplotlib

Requirement already satisfied: pandas in /opt/conda/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /opt/conda/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.12/site-packages (3.10.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (4.58.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (1.4.8)
Requirement already satisfied: numpy>=1.23 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.2.6)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (3.2.3)
Requirement already satisfied: python-dateutil>=2.7 in /opt/conda/lib/python3.12/site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.12/site-packages (from python-dateutil>=2.7->matplotlib) (1.17.0)

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [33]:
# Import necessary libraries
import pandas as pd

# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
print(df.head())

   ResponseId                      MainBranch                 Age  \
0           1  I am a developer by profession  Under 18 years old
1           2  I am a developer by profession     35-44 years old
2           3  I am a developer by profession     45-54 years old
3           4           I am learning to code     18-24 years old
4           5  I am a developer by profession     18-24 years old

            Employment RemoteWork   Check  \
0  Employed, full-time     Remote  Apples
1  Employed, full-time     Remote  Apples
2  Employed, full-time     Remote  Apples
3   Student, full-time        NaN  Apples
4   Student, full-time        NaN  Apples

                                    CodingActivities  \
0                                              Hobby
1  Hobby;Contribute to open-source projects;Other...
2  Hobby;Contribute to open-source projects;Other...
3                                                NaN
4                                                NaN

                                             EdLevel  \
0                          Primary/elementary school
1       Bachelor’s degree (B.A., B.S., B.Eng., etc.)
2    Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
3  Some college/university study without earning ...
4  Secondary school (e.g. American high school, G...

                                           LearnCode  \
0                             Books / Physical media
1  Books / Physical media;Colleague;On the job tr...
2  Books / Physical media;Colleague;On the job tr...
3  Other online resources (e.g., videos, blogs, f...
4  Other online resources (e.g., videos, blogs, f...

                                     LearnCodeOnline  ... JobSatPoints_6  \
0                                                NaN  ...            NaN
1  Technical documentation;Blogs;Books;Written Tu...  ...            0.0
2  Technical documentation;Blogs;Books;Written Tu...  ...            NaN
3  Stack Overflow;How-to videos;Interactive tutorial  ...            NaN
4  Technical documentation;Blogs;Written Tutorial...  ...            NaN

  JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
0            NaN            NaN            NaN             NaN
1            0.0            0.0            0.0             0.0
2            NaN            NaN            NaN             NaN
3            NaN            NaN            NaN             NaN
4            NaN            NaN            NaN             NaN

  JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly JobSat
0             NaN                    NaN        NaN                 NaN    NaN
1             0.0                    NaN        NaN                 NaN    NaN
2             NaN  Appropriate in length       Easy                 NaN    NaN
3             NaN               Too long       Easy                 NaN    NaN
4             NaN              Too short       Easy                 NaN    NaN

[5 rows x 114 columns]

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [34]:
print(df.dtypes)

print(df.count())

print(df.isnull())

ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object
ResponseId             65437
MainBranch             65437
Age                    65437
Employment             65437
RemoteWork             54806
                       ...
JobSatPoints_11        29445
SurveyLength           56182
SurveyEase             56238
ConvertedCompYearly    23435
JobSat                 29126
Length: 114, dtype: int64
       ResponseId  MainBranch    Age  Employment  RemoteWork  Check  \
0           False       False  False       False       False  False
1           False       False  False       False       False  False
2           False       False  False       False       False  False
3           False       False  False       False        True  False
4           False       False  False       False        True  False
...           ...         ...    ...         ...         ...    ...
65432       False       False  False       False       False  False
65433       False       False  False       False       False  False
65434       False       False  False       False       False  False
65435       False       False  False       False       False  False
65436       False       False  False       False        True  False

       CodingActivities  EdLevel  LearnCode  LearnCodeOnline  ...  \
0                 False    False      False             True  ...
1                 False    False      False            False  ...
2                 False    False      False            False  ...
3                  True    False      False            False  ...
4                  True    False      False            False  ...
...                 ...      ...        ...              ...  ...
65432             False    False      False             True  ...
65433             False     True       True             True  ...
65434             False    False      False            False  ...
65435             False    False      False            False  ...
65436              True     True       True             True  ...

       JobSatPoints_6  JobSatPoints_7  JobSatPoints_8  JobSatPoints_9  \
0                True            True            True            True
1               False           False           False           False
2                True            True            True            True
3                True            True            True            True
4                True            True            True            True
...               ...             ...             ...             ...
65432            True            True            True            True
65433            True            True            True            True
65434            True            True            True            True
65435           False           False           False           False
65436            True            True            True            True

       JobSatPoints_10  JobSatPoints_11  SurveyLength  SurveyEase  \
0                 True             True          True        True
1                False            False          True        True
2                 True             True         False       False
3                 True             True         False       False
4                 True             True         False       False
...                ...              ...           ...         ...
65432             True             True          True        True
65433             True             True          True        True
65434             True             True          True        True
65435            False            False          True        True
65436             True             True          True        True

       ConvertedCompYearly  JobSat
0                     True    True
1                     True    True
2                     True    True
3                     True    True
4                     True    True
...                    ...     ...
65432                 True    True
65433                 True    True
65434                 True    True
65435                 True    True
65436                 True    True

[65437 rows x 114 columns]

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [35]:
print(df.describe(include = 'all'))

          ResponseId                      MainBranch              Age  \
count   65437.000000                           65437            65437
unique           NaN                               5                8
top              NaN  I am a developer by profession  25-34 years old
freq             NaN                           50207            23911
mean    32719.000000                             NaN              NaN
std     18890.179119                             NaN              NaN
min         1.000000                             NaN              NaN
25%     16360.000000                             NaN              NaN
50%     32719.000000                             NaN              NaN
75%     49078.000000                             NaN              NaN
max     65437.000000                             NaN              NaN

                 Employment                            RemoteWork   Check  \
count                 65437                                 54806   65437
unique                  110                                     3       1
top     Employed, full-time  Hybrid (some remote, some in-person)  Apples
freq                  39041                                 23015   65437
mean                    NaN                                   NaN     NaN
std                     NaN                                   NaN     NaN
min                     NaN                                   NaN     NaN
25%                     NaN                                   NaN     NaN
50%                     NaN                                   NaN     NaN
75%                     NaN                                   NaN     NaN
max                     NaN                                   NaN     NaN

       CodingActivities                                       EdLevel  \
count             54466                                         60784
unique              118                                             8
top               Hobby  Bachelor’s degree (B.A., B.S., B.Eng., etc.)
freq               9993                                         24942
mean                NaN                                           NaN
std                 NaN                                           NaN
min                 NaN                                           NaN
25%                 NaN                                           NaN
50%                 NaN                                           NaN
75%                 NaN                                           NaN
max                 NaN                                           NaN

                                                LearnCode  \
count                                               60488
unique                                                418
top     Other online resources (e.g., videos, blogs, f...
freq                                                 3674
mean                                                  NaN
std                                                   NaN
min                                                   NaN
25%                                                   NaN
50%                                                   NaN
75%                                                   NaN
max                                                   NaN

                                          LearnCodeOnline  ... JobSatPoints_6  \
count                                               49237  ...   29450.000000
unique                                              10853  ...            NaN
top     Technical documentation;Blogs;Written Tutorial...  ...            NaN
freq                                                  603  ...            NaN
mean                                                  NaN  ...      24.343232
std                                                   NaN  ...      27.089360
min                                                   NaN  ...       0.000000
25%                                                   NaN  ...       0.000000
50%                                                   NaN  ...      20.000000
75%                                                   NaN  ...      30.000000
max                                                   NaN  ...     100.000000

       JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
count     29448.00000   29456.000000   29456.000000    29450.000000
unique            NaN            NaN            NaN             NaN
top               NaN            NaN            NaN             NaN
freq              NaN            NaN            NaN             NaN
mean         22.96522      20.278165      16.169432       10.955713
std          27.01774      26.108110      24.845032       22.906263
min           0.00000       0.000000       0.000000        0.000000
25%           0.00000       0.000000       0.000000        0.000000
50%          15.00000      10.000000       5.000000        0.000000
75%          30.00000      25.000000      20.000000       10.000000
max         100.00000     100.000000     100.000000      100.000000

       JobSatPoints_11           SurveyLength SurveyEase ConvertedCompYearly  \
count     29445.000000                  56182      56238        2.343500e+04
unique             NaN                      3          3                 NaN
top                NaN  Appropriate in length       Easy                 NaN
freq               NaN                  38767      30071                 NaN
mean          9.953948                    NaN        NaN        8.615529e+04
std          21.775652                    NaN        NaN        1.867570e+05
min           0.000000                    NaN        NaN        1.000000e+00
25%           0.000000                    NaN        NaN        3.271200e+04
50%           0.000000                    NaN        NaN        6.500000e+04
75%          10.000000                    NaN        NaN        1.079715e+05
max         100.000000                    NaN        NaN        1.625660e+07

              JobSat
count   29126.000000
unique           NaN
top              NaN
freq             NaN
mean        6.935041
std         2.088259
min         0.000000
25%         6.000000
50%         7.000000
75%         8.000000
max        10.000000

[11 rows x 114 columns]

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [36]:
print(df['Country'].unique())

['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [38]:
countries_list = {
    'United States of America':'USA',
    'United Kingdom of Great Britain and Northern Ireland':'UK',
    'Iran, Islamic Republic of...':'Iran',
    'Republic of North Macedonia':'North Macedonia',
    'United Republic of Tanzania':'Tanzania',
    'Venezuela, Bolivarian Republic of...':'Venezuela',
    'Republic of Korea':'South Korea',
    'Republic of Moldova':'Moldova',
    'United Arab Emirates':'UAE',
    'Hong Kong (S.A.R.)':'Hong Kong',
    "Lao People's Democratic Republic":"Lao",
    'Democratic Republic of the Congo':'DRC',
    'Syrian Arab Republic':'Syria',
    "Democratic People's Republic of Korea":'North Korea',
    'Congo, Republic of the...':'Congo',
    'Micronesia, Federated States of...':'Micronesia',
    'Russian Federation':'Russia'
}

df['Country'] = df['Country'].replace(countries_list)

df['Country'].unique()

array(['USA', 'UK', 'Canada', 'Norway', 'Uzbekistan', 'Serbia', 'Poland',
       'Philippines', 'Bulgaria', 'Switzerland', 'India', 'Germany',
       'Ireland', 'Italy', 'Ukraine', 'Australia', 'Brazil', 'Japan',
       'Austria', 'Iran', 'France', 'Saudi Arabia', 'Romania', 'Turkey',
       'Nepal', 'Algeria', 'Sweden', 'Netherlands', 'Croatia', 'Pakistan',
       'Czech Republic', 'North Macedonia', 'Finland', 'Slovakia',
       'Russia', 'Greece', 'Israel', 'Belgium', 'Mexico', 'Tanzania',
       'Hungary', 'Argentina', 'Portugal', 'Sri Lanka', 'Latvia', 'China',
       'Singapore', 'Lebanon', 'Spain', 'South Africa', 'Lithuania',
       'Viet Nam', 'Dominican Republic', 'Indonesia', 'Kosovo', 'Morocco',
       'Taiwan', 'Georgia', 'San Marino', 'Tunisia', 'Bangladesh',
       'Nigeria', 'Liechtenstein', 'Denmark', 'Ecuador', 'Malaysia',
       'Albania', 'Azerbaijan', 'Chile', 'Ghana', 'Peru', 'Bolivia',
       'Egypt', 'Luxembourg', 'Montenegro', 'Cyprus', 'Paraguay',
       'Kazakhstan', 'Slovenia', 'Jordan', 'Venezuela', 'Costa Rica',
       'Jamaica', 'Thailand', 'Nicaragua', 'Myanmar', 'South Korea',
       'Rwanda', 'Bosnia and Herzegovina', 'Benin', 'El Salvador',
       'Zimbabwe', 'Afghanistan', 'Estonia', 'Malta', 'Uruguay',
       'Belarus', 'Colombia', 'Moldova', 'Isle of Man', 'Nomadic',
       'New Zealand', 'Palestine', 'Armenia', 'UAE', 'Maldives',
       'Ethiopia', 'Fiji', 'Guatemala', 'Uganda', 'Turkmenistan',
       'Mauritius', 'Kenya', 'Cuba', 'Gabon', 'Bahamas', 'Iceland',
       'Honduras', 'Hong Kong', 'Lao', 'Mongolia', 'Cambodia',
       'Madagascar', 'Angola', 'DRC', 'Syria', 'Iraq', 'Namibia',
       'Senegal', 'Kyrgyzstan', 'Zambia', 'Swaziland', "Côte d'Ivoire",
       'Kuwait', 'Tajikistan', 'Burundi', 'Trinidad and Tobago',
       'Mauritania', 'Sierra Leone', 'Panama', 'Somalia', 'North Korea',
       'Dominica', 'Guyana', 'Togo', 'Oman', 'Barbados', 'Andorra',
       'Qatar', 'Sudan', 'Cameroon', 'Papua New Guinea', 'Bahrain',
       'Yemen', 'Malawi', 'Burkina Faso', 'Congo', 'Botswana',
       'Guinea-Bissau', 'Mozambique', 'Central African Republic',
       'Equatorial Guinea', 'Suriname', 'Belize',
       'Libyan Arab Jamahiriya', 'Cape Verde', 'Brunei Darussalam',
       'Bhutan', 'Guinea', 'Niger', 'Antigua and Barbuda', 'Mali',
       'Samoa', 'Lesotho', 'Saint Kitts and Nevis', 'Monaco',
       'Micronesia', 'Haiti', nan, 'Nauru', 'Liberia', 'Chad', 'Djibouti',
       'Solomon Islands'], dtype=object)

### 4. Encoding Categorical Variables

<h5>4.1 Encode the Employment column using one-hot encoding.</h5>

In [40]:
df_encoded = pd.get_dummies(df['Employment'], prefix = 'Employment')

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [46]:
df.isnull().sum().sort_values(ascending = False)

AINextMuch less integrated    64289
AINextLess integrated         63082
AINextNo change               52939
AINextMuch more integrated    51999
EmbeddedAdmired               48704
                              ...
MainBranch                        0
Age                               0
Employment                        0
Check                             0
ResponseId                        0
Length: 114, dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [64]:
import numpy as np

for column in df:
   if df[column].dtypes != 'object':
    df[column] = df[column].replace(np.nan, df[column].mean());

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [63]:
for column in df:
    if df[column].dtypes == 'object':
        df[column] = df[column].replace(np.nan, df[column].value_counts().idxmax());

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [65]:
min_value = df['ConvertedCompYearly'].min()
max_value = df['ConvertedCompYearly'].max()

df['ConvertedCompYearly_MinMax'] = (df['ConvertedCompYearly'] - min_value) / (max_value - min_value)

/tmp/ipykernel_5576/716621474.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['ConvertedCompYearly_MinMax'] = (df['ConvertedCompYearly'] - min_value) / (max_value - min_value)

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [66]:
df['log_Comp'] = np.log1p(df['ConvertedCompYearly'])

/tmp/ipykernel_5576/2430947625.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['log_Comp'] = np.log1p(df['ConvertedCompYearly'])

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [68]:
df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], errors = 'coerce')

def assign_experience_level(years):
    if pd.isna(years):
        return 'Unknown'
    elif years <= 2:
        return 'Beginner'
    elif 3 <= years <= 5:
        return 'Intermediate'
    else:
        return 'Advanced'

df['ExperienceLevel'] = df['YearsCodePro'].apply(assign_experience_level)

print(df[['YearsCodePro','ExperienceLevel']])

       YearsCodePro ExperienceLevel
0               2.0        Beginner
1              17.0        Advanced
2              27.0        Advanced
3               2.0        Beginner
4               2.0        Beginner
...             ...             ...
65432           3.0    Intermediate
65433           2.0        Beginner
65434           5.0    Intermediate
65435           2.0        Beginner
65436           2.0        Beginner

[65437 rows x 2 columns]

/tmp/ipykernel_5576/1491776716.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['ExperienceLevel'] = df['YearsCodePro'].apply(assign_experience_level)

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.